.App {
  text-align: center;
  background-color: rgb(245, 160, 174);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  overflow-y: auto;
}

/* base styles */
@font-face {
  font-family: "ransom note";
  src: url(../public/ransom.ttf);
}

h1 {
  font-family: "ransom note", sans-serif;
  font-size: 4rem;
}

li {
  list-style: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

button {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: rgb(247, 226, 199);
  padding: .5rem .7rem;
  min-width: 6.5rem;
}

button:hover {
  background-color: black;
  color: pink;
}


a {
  text-decoration: none;
  color: black;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Main  */
 input {
   background-color: white;
   border: 1px solid rgb(172, 172, 172);
   width: 50%;
   height: 3rem;
 }

/* Submission Form Styling */
.generateAI {
  background-color: rgb(255, 210, 219);
  width: 70%;
  margin: 2rem auto 0;
  padding: 3rem;
  border-radius: 2rem;

}

.generateAI p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* Messages Form Styling */
.aiText {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

textarea {
  min-width: 50%;
  background-color: rgb(255, 210, 219);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  height: 10rem;
  color:rgb(71, 70, 70);
} 

/* Saved Responses Styling */
.arrayOfMessages {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.message {
  background-color: rgb(247, 226, 199);
  border-radius: 1rem;
  height: 9rem;
  width: 30%;
  margin: 2rem 0;
  padding: 1rem;
  position: relative;
}

/* Media Queries */
@media (max-width: 1300px) {
  .message {
    width: 40%;
    height: 13rem;
  }
}

@media (max-width: 925px) {
  .generateAI {
    width: 90%;
    padding: 1.5rem;
  }
  textarea {
    width: 90%;
  }
  .aiText {
    flex-direction: column;
  }
}

@media (max-width: 700px){
.message {
    height: 15rem;
    width: 45%;
  }
}

@media (max-width: 600px) {
  .message {
    width: 100%;
    height: 10rem;
  }
  .flexContainer {
    flex-direction: column;
  }
  .flexContainer input {
    width: 90%;
  }
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
}