
.App {
  text-align: center;
  background-color: rgb(245, 160, 174);
  height: 100vh;
}

/* base styles */
@font-face {
  font-family: "ransom note";
  src: url(../public/ransom.ttf);
}

h1 {
  font-family: "ransom note", sans-serif;
  font-size: 3rem;
}

li {
  list-style: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

p {

}
